@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #5dfdcb;
    --secondary-color: #90d7ff;
    --accent1-color: #C9F9FF;
    --accent2-color: #BFD0E0;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #BFD0E0;
    --nav-link-color: #50bfff;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #797979;
}

body {
    font-family: var(--paragraph-font);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header, main, footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

header img {
    max-width: 100px;
    height: auto;
    margin:0;
    padding:0 2rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    margin:0;
}

header nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: var(--nav-link-color);
    border: 1px solid black;
}

section {
    border: solid 1px var(--accent2-color);
    margin: 20px;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: var(--nav-background-color);
}

footer p {
    position: absolute;
    margin: 0;
    text-align: center;
    width: 100%;
}

footer nav {
    right: 6rem;
    gap: .7rem;
    position: relative;
}

footer img {
    width: 30px;
    padding: 2px;
}

.meet-the-team {
    padding: 20px;
    text-align: center;
    background-color: var(--accent1-color);
    color: black;
}

.team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.team-members figure {
    text-align: center;
}

.team-members img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid var(--secondary-color);
}

.contact-us {
    padding: 20px;
    text-align: center;
    background-color: var(--accent2-color);
    color: black;
}

.contact-form {
    margin: 0 auto;
    padding: 5%;
    border: 1px solid var(--secondary-color);
    max-width: 600px;
    text-align: left;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
    height: 10px;
    width:35%;
    border: 1px solid var(--primary-color);
}

.name-email{
    display:flex;
    flex-direction: row;
}

.name-email label{
    width: 3.5rem;
}

.contact-form label {
    margin: 10px 0 5px;
    color: black;
}


.contact-form input, .contact-form textarea, .contact-form button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
}

.contact-form textarea {
    width: 100%;
    height: 200px;
}

.button {
    display: flex;
    justify-content: center;
}

.contact-form button:hover {
    background-color: var(--secondary-color);
}

.contact-form button {
    width: 8rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.location-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: var(--accent1-color);
    color: black;
}

.location-info .map {
    display: flex;
    justify-content: center;
}

.location-info .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.location-info .map iframe {
    border: 2px solid var(--secondary-color);
}

.location-info .contact-details p {
    color: black;
    justify-items:left;
}

.hero {
    position: relative;
    width: 100%;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1, .hero article {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 10px;
}

.hero h1 {
    top: 10%;
    font-size: 3em;
    color: white;
}

.hero article {
    top: 30%;
    background-color: var(--accent1-color);
}

.hero article img {
    width: 100px;
    float: right;
}

section {
    padding: 20px;
    text-align: center;
}

.history {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.img_history {
    max-width: 15rem;
    height: auto;

}

.adventures {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height:10rem;
}

.adventures figure {
    margin: 0 10px;
    width: 100px;
    height: 100px;
}

.adventures img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}