* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main{
    grid-column: 2/3;
    margin:1rem;
}

aside{
    width:20rem;
    position:relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

nav {
    background-color: steelblue;
    padding:10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color:white;
    display: block;
    padding:20px;
    text-decoration: none;
}

h1 {
    color: steelblue;
    border-bottom: solid 2px steelblue;
}

main img {
    width: 150px;
    height: auto;
    border:1px solid steelblue;
    float:right;
}

p {
    padding:0;
}

aside {
    width: 200px;
    margin: auto;
    padding: 10px;
    color:#000;
    position: relative;
}

aside img {
    width: 150px;
    height:auto;
}

aside h2 {
    position:absolute;
    top: 10px;
    left:10px;
    color:rgb(234, 238, 240);
}

footer {
    margin-top: 20px;
    border-top:solid 1px rgb(194, 192, 192);
    text-align: center;

}

/* Class Selectors */
.box {
    margin: auto;
    border: 2px;
    padding: 10px;
    background-color: bisque;
}