nav {
    background-color: steelblue;
    padding:10px;
}

nav a {
    color:white;
    display: block;
    padding:20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border:1px solid steelblue;
}

p {
    padding:0;
}

main {
    max-width: 900px;
}

aside {
    width: 200px;
    margin: auto;
    padding: 10px;
    background-color: rgb(225, 225, 225);
    color:black;
}

aside img {
    width:200px;
    height:auto;
}

footer {
    margin-top: 20px;
    border-top:solid 1px rgb(194, 192, 192);

}

